---
const {
  title,
  subtitle = '',
  bgColor = 'bg-indigo-700',
  textColor = 'text-white',
  image = ''
} = Astro.props;
---
<section class={`p-12 ${bgColor} ${textColor} text-center`}>
  <h1 class="text-4xl font-bold">{title}</h1>
  {subtitle && <p class="mt-4 text-xl">{subtitle}</p>}
  {image && <img src={image} alt={title} class="mt-6 mx-auto max-w-full" />}
</section>

